@charset "UTF-8";

:root {
  /* カラー定義 */
  --accent-color: #500e00;
  --accent-color2: #d30000;
  --font-color: #8d5e2e;
  --bace-color: #fffff7;
  --main-color: #d7c6b6;

  /* フォント定義 */
  --font-family-noto: "Noto Sans JP", sans-serif;
  --font-family-zenoldmincho: "Zen Old Mincho", serif;
  --font-family-arial: "Arial", sans-serif;
  --font-family-playfairdisplay: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}
html {
  /* スムーススクロール */
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family-noto);
  font-weight: 400; /* Regular */
  color: var(--accent-color);
  font-size: 16px;
  width: 100%;
}
h1,
h2,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ボタン */
.button {
  margin: 0 10px;
  padding: 10px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--font-color);
  color: var(--bace-color);
  text-align: center;
  align-content: center;
}
/* ヘッダー */
.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.hamburgermenu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hamburgermenu span {
  display: block;
  background-color: var(--bace-color);
  width: 37.5px;
  height: 5px;
}
/* ファーストビュー */
.fv {
  width: 100%;
  height: 550px;
  background-image: url(/image/FV.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 72px 20px;
}
.fv__catchcopy {
  font-family: var(--font-family-zenoldmincho);
  font-size: 24px;
  line-height: 48px;
}
.fv__catchcopy span {
  font-family: var(--font-family-playfairdisplay);
  font-size: 32px;
  font-weight: 700;
}
/* About */
.about {
  width: 100%;
  height: auto;
  background-color: var(--bace-color);
}
.section_title {
  padding: 50px 0 20px 0;
  text-align: center;
}
.section_title__title .en {
  display: block;
  font-family: var(--font-family-playfairdisplay);
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 10px;
}
.section_title__title .ja {
  display: block;
  font-family: var(--font-family-zenoldmincho);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.14em;
}
.about__content {
  text-align: center;
  margin-bottom: 20px;
}
.about__text {
  line-height: 36px;
  letter-spacing: 0.012em;
}
.about__image {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 80px;
}
.about__imageleft,
.about__imageright {
  width: 50%;
  height: 280px;
}
.about__imageright {
  margin-top: 50px;
}

/* Products */
.products {
  background-color: #e3d9cf;
  padding: 0 10px 70px 10px;
}
.products__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.products__item {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.products__desc {
}
.products__category {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 4px 24px;
  border: solid 1px var(--font-color);
  font-family: var(--font-family-zenoldmincho);
  color: var(--font-color);
}
.products__name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
}
.products__name span {
  font-family: var(--font-family-arial);
  font-weight: 700;
}
.products__text {
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.012em;
  margin-bottom: 10px;
}
.products__volume {
  color: var(--font-color);
  letter-spacing: 0.012em;
}
.products__image {
  width: 100%;
  height: 245px;
}
/* How to use */
.howtouse {
  background-color: var(--main-color);
  padding: 0 30px 50px 30px;
}
.howtouse__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.howtouse__item::after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-left: solid 1.6px var(--bace-color);
  border-bottom: solid 1.6px var(--bace-color);
  rotate: -45deg;
  margin-top: 30px;
}
.howtouse__item:last-child::after {
  display: none;
}
.howtouse__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}
.howtouse__step {
  font-family: var(--font-family-playfairdisplay);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.29em;
  color: #ffffff;
  text-align: center;
  width: 50px;
}
.howtouse__label {
  display: block;
  line-height: 14px;
}
.howtouse__num {
  display: block;
  font-size: 36px;
}
.howtouse__label::after {
  content: "";
  display: block;
  width: 50px;
  height: 1.6px;
  background-color: #ffffff;
  margin-top: 10px;
}
.howtouse__title {
  font-family: var(--font-family-zenoldmincho);
  font-weight: 500;
  font-size: 30px;
}
.howtouse__desc {
  margin-top: 10px;
  text-align: center;
}
.howtouse__text {
  font-weight: 500;
  line-height: 26px;
}
/* Special Offer */
.specialoffer {
  background-color: #e3d9cf;
  padding-bottom: 70px;
}
.specialoffer__image {
  width: 100%;
  margin: 10px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.specialoffer__image::before {
  content: "";
  display: block;
  width: 300px;
  height: 225px;
  background-color: var(--bace-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.specialoffer__image img {
  max-width: 300px;
  max-height: 225px;
  z-index: 20;
}
.specialoffer__discount {
  width: 90px;
  height: 90px;
  background-color: var(--accent-color2);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 30;
  text-align: center;
  align-content: center;
}
.specialoffer__discount p {
  font-family: var(--font-family-arial);
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}
.specialoffer__discount p span {
  font-size: 40px;
}
.specialoffer__content {
  padding: 0 10px;
  text-align: center;
  margin-bottom: 10px;
}
.specialoffer__subtitle {
  color: var(--font-color);
  margin-bottom: 10px;
}
.specialoffer__subtitle::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 1px;
  background-color: var(--font-color);
  rotate: 57deg;
  margin-right: 5px;
  margin-bottom: 5px;
}
.specialoffer__subtitle::after {
  content: "";
  display: inline-block;
  width: 19px;
  height: 1px;
  background-color: var(--font-color);
  rotate: -57deg;
  margin-left: 5px;
  margin-bottom: 5px;
}
.specialoffer__title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}
.specialoffer__text {
  margin-bottom: 10px;
}
.specialoffer__taglist {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
  margin-bottom: 10px;
}
.specialoffer__tag {
  border: solid 1px var(--font-color);
  border-radius: 50px;
  padding: 5px 20px;
}
.specialoffer__tag p {
  font-size: 14px;
  color: var(--font-color);
}
.specialoffer__price {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding: 0 20px;
  font-family: var(--font-family-arial);
  font-size: 20px;
  color: var(--font-color);
}
.specialoffer__beforeprice {
  position: relative;
}
.specialoffer__beforeprice::after {
  content: "";
  display: inline-block;
  width: 76px;
  height: 1px;
  background-color: var(--font-color);
  position: absolute;
  right: -2px;
  top: 8px;
  rotate: 15deg;
}
.specialoffer__afterprice {
  font-size: 64px;
  color: var(--accent-color2);
}
.specialoffer__afterprice span {
  font-size: 36px;
}
.specialoffer__afterprice::before {
  content: url(/image/arrow.png);
  margin-right: 10px;
}
